*.islave
*.slave
*.pyc
*.bak
_UAEFSDB.___
assets/tiles
sprites
tiles
snap
src/sound*.s
src/right_arrow.s
src/player_*.s
src/move_tables.s
src/girls.s
src/hit_lists.s
src/*_bobs.s
src/datetime
src/*palette.s
karate_champ
sounds/*.raw
